@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400..700&display=swap');

*{
	/* font-family: "Inconsolata", monospace; */
	font-family: "Reem Kufi Fun", sans-serif;
	margin: 0;
	padding: 0;
	
}

.header_container{
  position: sticky;
  top: 0;
  padding:               1% 4%;
  background:          #232B09;
  color:               #ffffff;
  z-index: 88;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a{
    text-decoration: none;
    color: inherit;
}

.menu-link{
  text-decoration: none;
  color: inherit;
}


header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header img{
  border-radius: 2rem;
  width: 4rem;
  height: 4rem;
}

header img:hover{
  cursor:                pointer;
  opacity:               0.5;
  translate:             3s;
}

header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.search_form{
	width: 25vw;
    padding: 0.7rem 0.5rem;
    font-size: 1.1rem;
    border: 1px solid #333333;
    border-radius: 0.5rem 0 0 0.5rem;
    text-align: left;
}

.search_form:focus{
    outline: none;
    color: #333333;
}

.search_form::placeholder{
    color: #333333;
}

.search_submit_btn{
   background-color: #e5bcb0;
    border: 1px solid #e5bcb0;
    border-radius: 0 0.5rem 0.5rem 0;
    background-position: right bottom;
    transition: all 0.5s ease-in;
    padding: 0.7rem 1rem;
    margin-left: -0.5rem;
    text-align: center;
    color: #333333;
    font-size: 1.1rem;
}

.search_submit_btn:hover{
    background-color: #b3735f;
    border: 1px solid #b3735f;
    background-position: left bottom;
    transition: all 0.5s ease-in;
    color: #ffffff;
    cursor: pointer;
}

 .search_form_container, .create_film_btn_container{
	display: flex;
	align-items: center;
	justify-content: center;
}


.cta_container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.create_film_btn{
    background-color: #e5bcb0;
    border: 1px solid #e5bcb0;
    border-radius: 0.25rem;
    background-position: right bottom;
    transition: all 0.5s ease-in;
    padding: 0rem 1rem;
    height: 2.8rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    color: #333333;
    font-size: 1.1rem;
	margin-right: 2rem;
}

    .create_film_btn:hover{
    background-color: #b3735f;
    border: 1px solid #b3735f;
    background-position: left bottom;
    transition: all 0.5s ease-in;
    color: #ffffff;
    cursor: pointer;
}

table{
	 border-collapse: collapse;
}

thead tr th{
	background-color: #f7cbbe;
	color: #333333;
  text-transform: uppercase;
	padding: 1rem 0;
}

table tr:nth-child(even) td{
  background-color: #f2f2f2;
}

table tr:hover td {
  background-color: #f9e8e4;
  /* background-color: #f4f9e2; */
}

table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  
}

.film_actions{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 0.4vw;
	padding-right: 0.4vw;
}

.fa-pen-to-square{
	color: #232B09;
}

.fa-pen-to-square:hover{
	color: #5a6035;
	background-position: left bottom;
    transition: all 0.5s ease-in;
    cursor: pointer;
}

.fa-trash-can{
	color: #FF0000;
	
}

.fa-pen-to-square:hover{
	color: #8b0000;
	background-position: left bottom;
    transition: all 0.5s ease-in;
    cursor: pointer;
}

.search_result_container{
	margin: 3rem 1rem;
	 background: white;
  border-radius: 5px;
  padding: 25px 15px;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
  background-position: right bottom;
    transition: all 0.5s ease;
    border: 1px solid #ffffff;
}

.search_result_container h3, th{
	text-align: center;
}

.film_view_container{
	margin: 3rem 1rem;
}

.film_view_container h3, th{
	text-align: center;
}

/* CREATE FILM MODAL */
.modal_overlay {
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #888888;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./assets/images/cardmapr-nl-s8F8yglbpjo-unsplash.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-position: right bottom;
    transition: all 0.5s ease;

}

.modal_interior {
  background-color: #ffffff;
    background-position: right bottom;
    transition: all 0.5s ease;
    padding: 20px;
    margin: 10% auto auto auto;
    border-radius: 1rem; 
    border: 1px solid #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   width: 600px;
    height: 657px; 
    
    /* height:100vh;
  width:50vw; */
}

.modal {
  background: white;
  height:100%;
  width:100%;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-position: right bottom;
    transition: all 0.5s ease;
    padding: 20px;
    margin: auto;
    border: 1px solid #ffffff;
}

.modal-body {
  padding-top: 10px;
}


.modal_header{
	display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 25px;
 color: #232B09; 
 padding: 5% 0;
}

.cancel_icon{
    background-color: #e5bcb0;
    border: 1px solid #e5bcb0;
    border-radius: 0.25rem;
    background-position: right bottom;
    transition: all 0.5s ease-in;
    padding: 0rem 1rem;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    text-align: center;
    color: #333333;
  }

  .cancel_icon:hover{
  background: #b3735f;
    cursor: pointer; 
  }
  
.create_film_form input{
	display: block;  
	width: 100%;
    padding: 0.7rem 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    border: 1px solid #333333;
    border-radius: 0.25rem;
    text-align: left;
}

.create_film_form input:focus{
    outline: none;
    color: #333333;
}

.create_film_form input::placeholder{
    color: #333333;
}

.create_film_submit_btn{
	width: 100%;
    background-color: #232B09;
    border: 1px solid #232B09;
    border-radius: 0.25rem;
    background-position: right bottom;
    transition: all 0.5s ease-in;
    padding: 0rem 1rem;
    height: 3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    color: #ffffff;
    font-size: 1.1rem;

}

.create_film_submit_btn:hover{
    background-color: #5a6035;
    border: 1px solid #5a6035;
    background-position: left bottom;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.footer_container{
  margin-top: 8rem;
  padding-top:               1.2rem;
  padding-bottom:            0.4rem;
  background:          #000000;
  color:               #ffffff;	
  text-align: center;
}

.footer_container a{
	text-decoration: none;
	color: #ffffff;
}

/* MEDIA QUERY */

@media screen and (max-width: 1024px){
	.header_container{
  padding:               1% 2%;
 }
.search_form{
	width: 20rem;
    border-radius: 0.5rem
}

.search_submit_btn{
   display: none;
}

}

@media screen and (max-width: 768px){
	.header_container{
  padding:               1% 2%;
  /* background: pink; */
 }


}

@media screen and (max-width: 425px){
/* .header_container{
  padding:               1% 2%;
  background-color: pink;
 } */

/* .search_form{
	width: 50VW;
} */

}



